#heading{
	background-color: lightblue;
	color: darkblue;
	font-size: 40px;
	font-family: cursive;
	font-style: italic;
}
.paragraph{
	background-color: lightgreen;
	color: darkgreen;
	font-size: 20px;
	font-style: normal;
	font-family: fantasy;
}
button{
	background-color: gold;
	color: indianred;
	font-size: 30px;
	font-style: initial;
	font-family: sans-serif;
	cursor: pointer;
}