.header{
	background-color: #265073;
	color: #ECF4D6;
	margin: -10px;
	padding: 10px;
	padding-bottom: 40px;
}
#header-img{
	width: 100px;
	height: 100px;
	text-align: left;
}
.link{
	color: #ECF4D6;
	text-align: center;
	font-size: 30px;
	margin: 10px;
}
.h1{
	font-size: 40px;
	font-style: oblique;
	color: #265073;
}
.week-days{
	background-color: #08457E; 
	color: whitesmoke; 
	border: 1px solid #3B83BD;
	font-size: 40px;
	padding: 3px;
}
.work-days{
	text-align: center; 
	color: darkblue; 
	padding: 3px;
	background-color: whitesmoke;
}
.weekend{
	text-align: center; 
	color: darkblue; 
	background-color: #AFDAFC; 
	padding: 3px;
}
#today{
	text-align: center; 
	color: whitesmoke; 
	background-color:  #3A75C4; 
	padding: 3px;
}
#month{
	background-color: #002137; 
	color: whitesmoke;
	font-weight: 900;
	font-size: 45px;
}
table{
	border: 1px solid  #3B83BD;
	width: 500px;
	height: 450px;
	font-size: 35px;
}

footer{
	background-color: #265073;
	color: #ECF4D6;
	padding: 20px;
	margin: -10px;
}
.footer-info h3{
	font-size: 30px;
	font-style: italic;
}
.footer-info p{
	font-size: 15px;
}
.footer-icons h3{
	font-size: 30px;
	font-style: italic;
}



#section-1{
	background-color: #ECF4D6;
	color: #265073;
	padding: 10px;
	padding-bottom: 40px;
	margin: -10px;
}
#section-2{
	background-color: #9AD0C2;
	color: #265073;
	margin: -10px;
	padding: 10px;
}
#section-3{
	background-color: #2D9596;
	color: #265073;
	margin: -10px;
	padding: 10px;
}

.paragraph{
	font-size: 30px;
	font-style: italic;
}
.list{
	font-size: 30px;
	font-style: italic;
}
