.header{
	background-color: #6A9C89;
	color: #F5E8B7;
}
#img{
	width: 100px;
	height: 100px;
}
.link{
	color: #F5E8B7;
	text-align: center;
}
.button{
	background-color: #CD5C08;
	color: #F5E8B7;
	border-color: #C1D8C3;
}
