table{
	border: 2px solid #618264;
	padding: 10px;
	margin-top: 40px;
}
header{
	background-color: #445D48;
	color: #FDE5D4;
	padding-top: 50px;
	padding-bottom: 10px;
	margin: -10px;
}
#section-1{
	background-color: #D6CC99;
	color: #445D48;
	padding: 70px;
	margin: -10px;
}
#section-2{
	background-color: #445D48;
	color: #D6CC99;
	padding: 70px;
	margin: -10px;
}
footer{
	background-color: #001524;
	color: #D6CC99;
	padding: 100px;
	margin: -10px;
}
.h1{
	text-align: center;
	font-size: 40px;
	font-family: verdana;
}
.list{
	text-align: center;
	font-size: 20px;
	font-family: verdana;
	color: #445D48;
}
.paragraph{
	text-align: left;
	font-size: 20px;
	font-family: verdana;
}
.paragraph-foot{
	text-align: center;
	font-size: 20px;
	font-family: verdana;
}
.th{
	text-align: center;
	font-size: 30px;
	font-family: verdana;
	font-weight: 900;
	border: 1px solid #618264;
	padding: 30px;
	color: #FDE5D4;
}
.td-name{
	text-align: center;
	font-size: 22px;
	font-family: verdana;
	font-weight: 600;
	border: 1px solid #618264;
	padding: 15px;
}
.td-describe{
	text-align: left;
	font-size: 20px;
	font-family: verdana;
	border: 1px solid #618264;
	padding: 20px;
}
.td-link{
	text-align: center;
	font-size: 20px;
	font-family: verdana;
	border: 1px solid #618264;
	padding: 15px;
	color: #E9B824;
}
.link{
	color: #E9B824;
}
