.week-days{
	background-color: #08457E; 
	color: whitesmoke; 
	border: 1px solid #3B83BD;
	font-size: 15px;
	padding: 3px;
}
.work-days{
	text-align: center; 
	color: darkblue; 
	padding: 3px;
}
.weekend{
	text-align: center; 
	color: darkblue; 
	background-color: #AFDAFC; 
	padding: 3px;
}
#today{
	text-align: center; 
	color: whitesmoke; 
	background-color:  #3A75C4; 
	padding: 3px;
}
#month{
	background-color: #002137; 
	color: whitesmoke;
	font-weight: 900;
	font-size: 20px;
}
table{
	border: 1px solid  #3B83BD;" 
}
