header{
	background-color: #8D8741;
	color: #FBEEC1;
	text-align: center;
	padding: 20px;
}
h2{
	font-size: 30px;
	color: #fbeec1;
	background-color: #8d8741;
}
p{
	font-size: 20px;
	color: #bc986a;
}
li{
	font-size: 20px;
	color: #bc986a;
}
a{
	font-size: 20px;
	color: #FBEEC1;
}
footer{
	background-color: #8D8741;
	color: #FBEEC1;
	text-align: center;
	padding: 20px;
}
img{
	width: 24%;
}